{% extends 'snippets/base.html' %}
{% load static %}
{% block title %} {{block.super}}|List {% endblock title %}

{% block content %}
<h1 style="text-align: center;"><b>Employees</b></h1>

  {% for obj in object_list %}
      {% if request.user.is_authenticated %}
      <ul><li>
      <a href="{% url 'employee:detail' pk=obj.pk %}" style="float: left;color:#FF0000;">
        {{obj.first_name}}{{' '}}{{obj.last_name}}<br/></a>
      </li></ul>
      {% endif %}
  {% endfor %}

<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after {
  content: "";
  align-content: center;
  clear: both;
  display: table;
}

.grid-container {
  align-content: center;
  display: grid;
  padding: 60px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  align-content: center;
  padding: 20px;
  font-size: 18px;
  text-align: center;
}
</style>
{% endblock content %}